body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

#info-page {
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4vh;
  justify-content: space-evenly;
  gap: 5vw;
}

#info-blurb {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: x-large;
  font-weight: 500;
  width: 60vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

#info-pics {
  width: 40vw;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2vw;
}

#portfolio-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 4vh;
  margin-bottom: 2vw;
}

#portfolio-column {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#portfolio-row {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}
#portfolio-link {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

#portfolio-title {
  text-align: left;
  padding: 2vw;
  font-size: large;
}

#portfolio-pic {
  height: 25vh;
  width: 30vw;
  padding: 1vw;
  transition-property: all;
  transition-duration: 500ms;
  transition-delay: 500ms;
  margin: 1vw;
}

@media screen and (max-width: 414px) {
  #info-page {
    display: flex;
    flex-direction: column;
    width: 80vw;
  }

  #info-blurb {
    width: 80vw;
  }
  #info-pics {
    display: flex;
    flex-direction: row;
    width: 80vw;
    justify-content: space-around;
    align-items: center;
  }

  #portfolio-page {
    display: flex;
    flex-direction: column;
  }

  #portfolio-row {
    width: 80vw;
    justify-content: space-around;
  }

  #portfolio-title {
    font-size: small;
    padding: 4vw;
  }
}
